.separa-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-img {
  width: 100%;
  max-width: 70%;
  height: auto;
}

@media (max-width: 768px) {
  .responsive-img {
    max-width: 100%;
  }
}
